/*------font-----*/
a {
    text-decoration: none;
}
.ftLine {
    text-decoration-line: line-through;
}
.Ms, body {
    font-family: 'Montserrat', sans-serif;
}
.b900 {
    font-weight: 900;
}
.B800 {
    font-weight: 800;
}
.b700 {
    font-weight: 700;
}
.b600 {
    font-weight: 600;
}
.b500 {
    font-weight: 500;
}
.b300 {
    font-weight: 300;
}
.b100 {
    font-weight: 100;
}
.FxxL {
    font-size: xx-large;
}
.FxL {
    font-size:x-large;
}
.FLar {
    font-size:135%
}
.Fli {
    font-size: 70%;
}
.FSs {
    font-size: 75%;
}
.FL {
    font-size: large;
}
.FxS {
    font-size:x-small;
}
.FS {
    font-size: small;
}
.Fm {
    font-size: medium;
}
.Os {
    font-family: 'Open Sans', sans-serif;
}
.Puce {
    list-style-type: "\002714";
    padding: 12px;
    line-height: 30px;
}
li > span{
    padding-left : 20px 
  }
/*background - color*/
.bgBlack {
    background-color: #232628; 
}
.bgorange {
    background-color: #FAB637; 
}
.bgorange2,.hov:hover {
    background-color: #CC6119; 
}
.bgBlue {
    background-color: #6C98E1; 
}
.bgBlack {
    background-color: #232628; 
}
.bgGray {
    background-color: #ECEFF3; 
}
.bgGrayOp {
    background-color: rgba(236, 239, 243, 0.8);
}
.bgGray2,.bgBlue:hover,.bgorange2:hover {
    background-color: #4f4f4f; 
}
.bgGray3 {
    background-color: #353535; 
}
.bgRed {
    background-color: rgba(255, 72, 72, 0.8); 
}
.op {
    opacity: 0.8;
}
.op2 {
    opacity: 0.5;
}
.op3 {
    opacity: 0.75;
}
/*background img*/
.imgHead {
    background-image:url("http://localhost/Clubauto/Media/vehicule1.webp");
    background-repeat: no-repeat;
    background-size: cover;
}
.imgsec2 {
    background-image:url("http://localhost/Clubauto/Media/voiture3.webp");
    background-repeat: no-repeat;
    background-size: cover;
}
.imgsec3 {
    background-image:url("http://localhost/Clubauto/Media/voiture4.webp");
    background-repeat: no-repeat;
    background-size: cover;
}
/*colors*/
.ftwhite, .hovWhite:hover p {
    color: white;
}
.ftOrange {
    color:#CC6119;
}
.ftOrange2 {
    color:#FAB637;
}
.ftBlue {
    color:#6C98E1;
}
.ftBlack {
    color:#232628;
}
.ftGray {
    color:#ECEFF3;
}
.ftGray2 {
    color:#b8b8b8;
}
.ftGray3 {
    color:#6d6d6d;
}
/*conteneur taille*/
.secblue {
    width : 80px;
    height : 36px;
}
.secblue2 {
    width : 200px;
    height : 40px;
}
.Sicon {
    width : 25px;
    height : 25px;
}
.SiconX {
    width : 15px;
    height : 15px;
}
.SiconZ {
    width : 21px;
    height : 21px;
}
.SiconF {
    width : 30px;
    height : 30px;
}
.cSiconF, .Sicon2 {
    width : 35px;
    height : 35px;
}
.round {
    width : 35px;
    height : 32px;
}
.iconeBan {
    width : 64px;
    height : 50px;
}
.gap2 {
    gap: 2.5%;
}
.gap3 {
    gap: 2%;
}
.gap4 {
    gap: 10%;
}
.contBan2 {
    width: 240px;
}
.contLogo {
    width: 200px;
}
.contBan3 {
    width: 280px;
}
.contBan4 {
    width: 190px;
}
.contBan1 {
    width: 300px;
}
.navH {
    height: 56px;
}
.maxXW {
    width: 100px;
    height: 56px;
}
.imgnav {
    height: 600px;
}
.imgcont2 {
    width: 100%;
}
.timgsec5 {
    width: 40%;
    height: 60%;
}
.grid2c, .grid4c,.grid3c,.grid5c {
    display: grid;
}
.grid2c {
    grid-template-columns: 1fr 1fr;
}
.grid4c {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.grid3c {
    grid-template-columns: 1fr 1fr 1fr;
}
.grid5c {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
#inp {
    width: 180px;
    height: 28px;
    padding-left: 10px;
    font-weight: 600;
}
/*conteneur orientation*/
.inLine{
    flex-direction : row;
}
.incolumn{
    flex-direction: column;
}
.ContD {
    float: right;
}
.centerX2,.Tcenter,.CenterH {
    justify-content: center;
}
.Tcenter {
    text-align: center;
}
.centerV,.centerD,.Tcenter,.centerX2 {
    align-items: center;
}
.endCont,.centerD {
    justify-content:end;
}
.endCont, .centerV,.centerD,.Tcenter,
.centerX2,.incolumn,.inLine,.CenterH,
.FEnd {
    display: flex;
}
.FEnd {
    align-items: flex-end;
}
/*----------margin--------*/
.Pad50 {
    padding: 50px;
}
.Pad20 {
    padding: 20px;
}
.marT20 {
   margin-bottom: 30px;
}
.marT20,.marT30 {
    margin-top: 30px;
}
.marT60 {
    margin-top: 60px;
}
.marTB40 {
    margin-top: 40px;
    margin-bottom: 40px;
}
.marTB60 {
    margin-top: 60px;
    margin-bottom: 60px;
}
.marTB120 {
    margin-top: 120px;
    margin-bottom: 120px;
}
.marB10 {
    margin-bottom: 10px;
}
.marB20 {
    margin-bottom: 20px;
}
.marT20 {
    margin-top: 20px;
}
.marB50 {
    margin-bottom: 50px;
}
.marB80 {
    margin-bottom: 80px;
}
.marB8 {
    margin-bottom: 8px;
}
.marR30 {
    margin-right: 30px;
}
.padB20 {
    padding-bottom: 20px;
}
.padT20 {
    padding-top: 20px;
}
.padB30 {
    padding-bottom: 30px;
}
.marSec1 {
    margin-top: 50px;
    margin-bottom: 80px;
}
.marR,.marLR {
    margin-right: 160px;
}
.marL,.marLR {
    margin-left: 160px;
}
.marLR20 {
    margin-left: 20px;
    margin-right: 20px;
}
.marLRBan {
    margin-left: 140px;
    margin-right: 140px;
}
.mar0 {
    margin: 0;
}
/*----------border--------*/
.borbot {
    border-bottom: solid 0.5px;
}
.borbotO {
    border-bottom: solid;
}
.borbot {
    border-color: #494949;
}
.borbotO {
    border-color: #CC6119;
}
.round2 {
    border-radius: 5%;
}
.round {
    border-radius: 50%;
}